@model NewCollectionVM

<div class="container d-flex justify-content-center">
    <div>
        <h1> @Model.Title </h1>
        <div>
            @foreach (var item in Model.Items)
            {
                <div>
                    <a asp-action="Details" asp-controller="Products" asp-route-articleNumber="@item.ArticleNumber">@item.ProductName</a>
                </div>
            }
            }
        </div>
    </div>
</div>