@model UserLoginVM

<div class="container">
    <form method="post" asp-action="Login" asp-controller="Account" novalidate>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-success">SUBMIT</button>
        </div>
    </form>
</div>